@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

:root {
  overflow-x: hidden;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  padding: 0 15%;
}

/* Header */

header {
  background-color: #1F2937;
}

#container-header {
  padding: 20px 15% 0px;
  display: flex;
  justify-content: space-between;
}

#logo {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  color: #f9faf8;
  font-weight: bold;
}

#header-right {
  display: flex;
  align-items: center;
  gap: 30px;
}

.header-link {
  font-size: 18px;
  color: #e5e7eb;
  text-decoration: none;
}

/* First section of main */

#section1 {
  background-color: #1F2937;
}

#container1 {
  padding: 100px 15%;
  display: flex;
}

#section1-left {
  flex-basis: 50%;
}

#hero-main {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
  margin: 0;
}

#hero-secondary {
  margin: 12px 0;
  font-family: Roboto, sans-serif;
  font-size: 18px;
  font-weight: 100;
  color: #e5e7eb;
}

#sign-up1 {
  background-color: #3882f6;
  color: #f9faf8;
  border-radius: 7px;
  padding: 5px 25px;
  font-family: Roboto, sans-serif;
  font-weight: bolder;
}

#hero-image {
  align-self: center;
  margin: 0 0 0 auto;
  width: max(300px, 35%);
  height: auto;
}

/* Second section of main */

#info-title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 36px;
  font-weight: bolder;
  color: #1f2937;
  text-align: center;
  margin-block: 45px;
}

#info-main {
  display: flex;
  gap: 40px;
  margin-bottom: 100px;
  justify-content: space-evenly;
  align-items: flex-start;
}

.info-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info-image {
  max-width: 150px;
  height: auto;
  border: 4px solid #3882f6;
  border-radius: 12px;
}

.info-content p {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 900;
  color: grey;
  margin-top: 12px;
  width: 150px;
  text-align: center;
  line-height: 17px;
}

/* Third section of main */

#section3 {
  padding-block: 100px;
  background-color: #e5e7eb;
}

#container3 {
  padding: 0px;
  width: 50%;
  margin: 0 auto;
}

#section3 figure {
  display: flex;
  flex-direction: column;
}

blockquote {
  margin: 0;
  font-size: 36px;
  font-weight: lighter;
  font-style: italic;
  color: #1F2937;
}

figcaption {
  margin-inline: auto 50px;
  margin-top: 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  font-size: 22px;
}

/* Fourth section of main */

#section4 {
  padding: 75px 0;
}

#container4 {
  margin: 0 15%;
  padding: 0;
  background-color: #3882f6;
  border-radius: 6px;
  display: flex;
  justify-content: space-around;
}

#action-left {
  margin: 35px 0;
}

#action-left h4 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: light;
  color: #f9faf8;
  margin: 0;
}

#action-left p {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 900;
  color: #f9faf8;
  margin: 0;
}

#sign-up2 {
  background-color: #3882f6;
  color: #f9faf8;
  border-radius: 7px;
  border-color: #f9faf8;
  border-style: solid;
  padding: 5px 25px;
  font-family: Roboto, sans-serif;
  font-weight: bolder;
  align-self: center;
}

/* Footer */

.copyright-footer {
  background-color: #1f2937 ;
  text-align: center;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  color: #f9faf8;
  padding: 30px;
}

.github-footer {
  height: 55px;
  width: 100vw;
  display: flex;
  align-items: center;
  background-color: #0D1117;
}

.made-by {
  color: white;
  font-size: 15px;
  font-family: cursive;
  margin: 0 auto;
}

.github-link {
  position: relative;
  right: 37.5px;
}

.github-icon {
  height: 27.5px;
}