@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: Roboto, sans-serif;
  --github-black: #0D1117;
  --dark-cyan-blue: #1F2937;
  --quote-grey: #e5e7eb;
  --bright-blue: #3882f6;
  --white-green: #f9faf8;
}

body {
  display: inline-flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: calc(100vw - (100vw - 100%));
}

/* Header */

header {
  background-color: var(--dark-cyan-blue);
  display: flex;
  justify-content: space-between;
  padding: 16px 15% 0;
  gap: 15px;
}

a {
  text-decoration: none;
}

.logo {
  font-size: 2.4rem;
  color: var(--white-green);
}

nav {
  display: flex;
  gap: 25px;
}

nav > a {
  font-size: 1.8rem;
  color: var(--quote-grey);
}

/* Main */

main {
  flex: 1;
}

main > section {
  padding-inline: 15%;
}

/* Hero */

.hero {
  display: flex;
  gap: 20px;
  padding-block: 80px;
  background-color: var(--dark-cyan-blue);
}

.container-hero {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  color: var(--white-green);
  flex: 1;
}

.container-hero > h1 {
  font-size: 4.8rem;
}

.container-hero > p {
  font-size: 1.8rem;
  color: var(--quote-grey);
}

button {
  background-color: var(--bright-blue);
  padding: 6px 10px;
  font-family: Roboto, sans-serif;
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--white-green);
  border: 1px solid var(--bright-blue);
  border-radius: 6px;
  width: 120px;
}

.hero > img {
  width: 100%;
  min-width: 375px;
  height: 275px;
  min-height: 250px;
  flex: 1;
  align-self: center;
  object-fit: cover;
}

/* Promise */

.promise {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.promise > h2 {
  font-size: 3.2rem;
  font-weight: 900;
  color: var(--dark-cyan-blue);
  padding-block: 40px;
}

.container-promise {
  display: flex;
  justify-content: space-around;
  gap: 15px;
  width: 100%;
  padding-bottom: 80px;
}

.container-promise > figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 180px;
  gap: 10px;
}

.container-promise img {
  width: 170px;
  aspect-ratio: 1 / 1;
  border: 4px solid var(--bright-blue);
  border-radius: 12px;
}

.container-promise figcaption {
  margin: 0;
  text-align: justify;
  font-size: 1.8rem;
  color: grey;
  padding-inline: 12px;
}

/* Quote */

.quote {
  background-color: var(--quote-grey);
  padding: 80px 25%;
}

.quote > figure {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.quote blockquote {
  font-size: 3.6rem;
  font-weight: 300;
  font-style: italic;
  color: var(--dark-cyan-blue);
  text-align: justify;
}

.quote figcaption {
  font-size: 2.4rem;
  font-weight: 600;
  margin: 0;
  align-self: flex-end;
}

/* Order */

.order {
  background-color: var(--bright-blue);
  margin: 80px 15%;
  border-radius: 6px;
  padding: 50px 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.container-order > h2 {
  color: var(--white-green);
  font-size: 2.4rem;
}

.container-order > p {
  color: var(--quote-grey);
  font-size: 1.6rem;
}

.order > button {
  border: 3px solid var(--quote-grey);
  min-width: max-content;
}

/* Footer */

footer {
  display: flex;
  align-items: center;
  background-color: var(--dark-cyan-blue);
  padding: 12px 40px;
}

.made-by {
  font-size: 12px;
  font-family: cursive;
  color: white;
  margin: 0 auto;
}

.github-icon {
  height: 25px;
}

@media (max-width: 992px) {
  html {
    font-size: 67.5%;
  }

  header {
    flex-direction: column;
  }

  .hero {
    flex-direction: column-reverse;
  }

  .hero > img {
    min-height: 250px;
  }

  .promise {
    padding-inline: 7%;
  }

  .container-promise {
    gap: 25px;
  }

  .quote {
    padding-inline: 17%;
  }

  .order {
    flex-direction: column;
  }

  .order > button {
    align-self: flex-start;
  }
}

@media (max-width: 576px) {
  html {
    font-size: 72.5%;
  }

  .container-promise {
    flex-direction: column;
    align-items: center;
  }
}
