@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  --github-black: #0D1117;
  --dark-cyan-blue: #1F2937;
  --quote-grey: #e5e7eb;
  --bright-blue: #3882f6;
  --white: #f9faf8;
  font-family: Roboto, sans-serif;
}

body {
  display: inline-flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: calc(100vw - (100vw - 100%));
}

header {
  background-color: var(--dark-cyan-blue);
  display: flex;
  justify-content: space-between;
  padding: 16px 15% 0;
  gap: 15px;
}

a {
  text-decoration: none;
}

.logo {
  font-size: 24px;
  color: var(--white);
}

nav {
  display: flex;
  gap: 25px;
}

nav > a {
  font-size: 18px;
  color: var(--quote-grey);
}

main {
  flex: 1;
}

main > section {
  padding-inline: 15%;
}

.hero {
  display: flex;
  gap: 20px;
  padding-block: 80px;
  background-color: var(--dark-cyan-blue);
}

.container-hero {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  color: var(--white);
  flex: 1;
}

.container-hero > h1 {
  font-size: 48px;
}

.container-hero > p {
  font-size: 18px;
  color: var(--quote-grey);
}

button {
  background-color: var(--bright-blue);
  padding: 6px 10px;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: var(--white);
  border: 1px solid var(--bright-blue);
  border-radius: 6px;
  width: 120px;
}

.hero > img {
  height: 275px;
  flex: 1;
  align-self: center;
}

.promise {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.promise > h2 {
  font-size: 32px;
  font-weight: 900;
  color: var(--dark-cyan-blue);
  padding-block: 40px;
}

.container-promise {
  display: flex;
  justify-content: space-around;
  gap: 15px;
  width: 100%;
  padding-bottom: 80px;
}

.container-promise > figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 180px;
  gap: 10px;
}

.container-promise img {
  min-width: 125px;
  width: 100%;
  aspect-ratio: 1 / 1;
  border: 4px solid var(--bright-blue);
  border-radius: 12px;
}

.container-promise figcaption {
  margin: 0;
  text-align: justify;
  font-size: 18px;
  color: grey;
  padding-inline: 7px;
}

.quote {
  background-color: var(--quote-grey);
  padding: 80px 25%;
}

.quote > figure {
  display: flex;
  flex-direction: column;
}

.quote blockquote {
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
  color: var(--dark-cyan-blue);
  text-align: justify;
}

.quote figcaption {
  font-size: 24px;
  font-weight: 600;
  margin: 0;
  align-self: flex-end;
}

.order {
  background-color: var(--bright-blue);
  margin: 80px 15%;
  border-radius: 6px;
  padding: 50px 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.container-order > h2 {
  color: var(--white);
  font-size: 24px;
}

.container-order > p {
  color: var(--quote-grey);
  font-size: 16px;
}

.order > button {
  border: 3px solid var(--quote-grey);
}

footer {
  display: flex;
  align-items: center;
  background-color: var(--dark-cyan-blue);
  padding: 12px 40px;
}

.made-by {
  font-size: 12px;
  font-family: cursive;
  color: white;
  margin: 0 auto;
}

.github-icon {
  height: 25px;
}